body {
  background-color: #E6E6FA;
  padding-left: 2rem;
  padding-right: 2rem; }
  @media (min-width: 768px) {
    body {
      padding-left: 4rem;
      padding-right: 4rem; } }
  body header {
    position: absolute;
    right: 0;
    left: 0;
    top: 0;
    background-color: #000;
    height: 4rem; }
  body footer {
    background-color: #000;
    color: #fff;
    height: 2rem;
    position: absolute;
    right: 0;
    left: 0;
    bottom: 0;
    text-align: center; }
  body section {
    padding-top: 5rem; }

nav ul li a {
  text-decoration: none; }
  nav ul li a:link {
    text-decoration: none; }
  nav ul li a:visited {
    color: #fff; }
  nav ul li a:hover {
    text-decoration: underline; }

