<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="NorthwindConnectionString"
         providerName="System.Data.SQLClient"
         connectionString="Initial Catalog=Northwind_Lite;Data Source=10.19.150.18\DEVELOPER;User=curso;password=curso;">
    </add>
  </connectionStrings>
</configuration>